.text-truncate-2 {
  overflow: hidden;
  display: -webkit-box;
  display: box; 
  -webkit-box-orient: vertical;
  box-orient: vertical; 
  -webkit-line-clamp: 2;
  line-clamp: 2; 
}

.btn-hover-shadow, .card-hover-shadow {
  transition: all 0.3s ease !important;
}

.btn-hover-shadow:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px black;
}

.card-hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px darkgray;
}

