.parent {
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(7, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 3 / 2 / 6 / 5; }
.div2 { grid-area: 2 / 7 / 8 / 10; }