:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding-top: 32px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  margin-top: 0;
  padding-top: 0;
}

section {
  padding-top: 0;
  margin-top: 0;
}
